@import url('/nav.css');
table {
    margin: 0 auto;
}
h2 {
    margin: 0 auto;
    text-align: center; 
}
footer {
    text-align: center; 
}
div {
    text-align: center; 
  width: 100%;
  max-width: 800px; /* Set a max width if needed */
  margin: 0 auto; /* Center the container */
}
button {
    margin: 0 auto;
    display: block;
}
video {
	  width: 100%; /* Make the video element take up 100% of its container's width */
     height: auto; /* Maintain the aspect ratio */
   display: block;
    margin: auto;           
    position: relative;
    background: grey;
}
